<!DOCTYPE html>
<html>
  <head>
    <title>Ordered list page</title>
  </head>
  <body>
    <% for (var i in total_list) { %>
      <% let list_info = total_list[i]; %>
      <form method="GET" action= "/product/delete/">
        <input type="hidden" name = "order_id" value=<%= list_info['order_id'] %>>
        <table border="1">
            <tr>
              <td>ID</td><td>Product</td><td>Quantity</td><td>Price</td>
            </tr>
          <% for (var j in list_info['product_list']) { %>
            <tr>
              <td><%= list_info['product_list'][j].id%></td>
              <td><%= list_info['product_list'][j].name%></td>
              <td><%= list_info['product_list'][j].order_quantity%></td>
              <td><%= list_info['product_list'][j].order_price%></td>
            </tr>
          <% } %>
        </table>
        <td colspan="2">
            <input type="submit" value="Delete"></td>
        </td>
      </form>
      <a>Total prices : <%= list_info['total_price']%></a> 
      <br/>
      <br/>
    <% } %>
    <br/>
    <br/>
    
    <a href="/member/updatePage">Update member information</a> 
    <br/>
    <br/>
    <a href="/product">See all products</a> 
    <br/>
    <br/>
    <a href="/member/logout">Logout</a> 
  </body>
</html>

